<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skillbox.skillbox.location">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



    <application
        android:name=".classes.LocationApplication"
        android:allowBackup="true"
        android:icon="@drawable/geopoint"
        android:label="@string/app_name"
        android:roundIcon="@drawable/geopoint"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".activityandfragments.MainActivity">
            <meta-data android:name="com.google.android.gms.common.api.internal.ApiKey"
                android:value="AIzaSyB5KfLZ7XR38kN3rAFhioxeIQiHsmfUVQM"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>